.up {
    width: 230px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-right: 70px;
    padding-left: 213px;
    justify-content: left;
    gap: 590px;
}
body {
    margin: 0px;
    /* background-color: rgb(101, 106, 246); */
    /* border: 5px solid #4756ff; */
}
.blocktop {
    background-color: black;
    /* width: 100vw; */
    /* height: 7vw;     */
    display: flex;
    justify-content: center;
    border: 5px solid #4756ff;
}
.botton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}
.messgae {
    color: white;
    padding: 28px;
    font-size: 27px;
    flex-direction: row;
    justify-content: space-around;
}
a {
    color: white;
    text-decoration: none;
}
.messgae:hover {
    color: aquamarine ;
    background-color:deepskyblue;
}
.down {
    width: 230px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-right: 70px;
    padding-left: 213px;
    justify-content: left;
    gap: 590px;
}
.foot {
    display: flex;
    background-color: black;
    border: 5px solid #4756ff;
}
.messgae1 {
    color: white;
    padding: 28px;
    font-size: 27px;
    flex-direction: row;
    justify-content: space-around;
}
.contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}