
body {
    margin: 0px;
    /* background-color: rgb(101, 106, 246); */
    border: 5px solid #4756ff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blocktop {
    background-color: black;
    /* width: 100vw; */
    /* height: 7vw;     */
    display: flex;
    justify-content: center;
    border: 5px solid #4756ff;
}
.botton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}
.messgae {
    color: white;
    padding: 28px;
    font-size: 27px;
    flex-direction: row;
    justify-content: space-around;
}
a {
    color: white;
    text-decoration: none;
}
.messgae:hover {
    color: aquamarine ;
    background-color:deepskyblue;
}
#image1 {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}
.face {
    /* background-color: green; */
    width: 30vw;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.block1 {
    /* background-color:; */
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.halfblocktop {
    display: flex;
    width: 100%;

}
#port {
    align-self: center;
    justify-self: center;
    font-size: 60px;
}
#welcome {
    height: fit-content;
    width: fit-content;
    justify-self: flex-start ;
}
.foot {
    display: flex;
    background-color: black;
    border: 5px solid #4756ff;
}
.messgae1 {
    color: white;
    padding: 28px;
    font-size: 27px;
    flex-direction: row;
    justify-content: space-around;
}
.contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bigblock{
    height: auto;

}
